
  html {

overflow-x: hidden;
  overflow-y: hidden;
background-color: black;

}
       
       li {
  margin: 5px 0;
  font-family: Arial, sans-serif;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
pre {
background-color : black;
      color: black;
}
.toggle {
width : 100%;
cursor : pointer;
display: flex;
    background-color: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#content-frame.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: width 0.3s ease, padding 0.3s ease;
}

 

      a { text-decoration: none; }
        
        a:hover { text-decoration: underline; }
       


        .hidden { display: none; padding-left: 20px; }

  


        #container { 
        
    
        display: flex;
  height: 100%;
  width: 100%;

   
        
        }


        #content-frame {
              color: black;
position : absolute;
top: 50px;
left : 10px;
 height:fit-content;
    transition: margin-left 0.3s ease;
    z-index: 100;
    overflow-y: auto;
    display: flex; 
    flex-direction : column;
    background-color: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;;
    border-radius: 0% 5% 5% 0%;
    box-shadow: 1px 1px 1px #129867;
    text-shadow: 1px 1px 1px #129867;
    padding: 7px;
    margin-top: 100px;
   
             }





#content-frame a:visited {
    color: black; 
    text-decoration: none; 

}

#split-container {
  flex-grow: 1;
  transition: width 0.6s ease;
margin-top: 55px;

    display: flex;        
      
    height: 100vh;  
   overflow-x: hidden;   
   overflow-y: auto;  
   margin-left: 10px;
}



#split-container iframe {
width: 100%;         
    height: 100%;     
    border: none;     
    gap: none;
    z-index: 10;
    
}

#content-frame-view-comment {
    width: 100%;
    height: 100vh;
    border: none;
    display: block;
          color: black;
}
    #content-frame-view-comment.hidden {
        display: none;
    }

    
    #toggle-frame {
    z-index: 9999;
    position: absolute;

    top:65px;
    left: 10px;
    padding: 5px 10px;

    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: black 1px 1px 1px;
}


    #app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
   color: black;

    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10000;

}
.folder-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  list-style-type: none;
}

.folder-header {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.folder-name {
  font-weight: bold;
}


   
