.icon {
    margin-right: 8px;
    cursor: pointer;
}

.nested {
    display: none;
    margin-left: 20px;
}
.file {
background-color: black;
border: 1px solid gold;
color: white;
border-radius: 1%;
padding: 3%;
box-shadow: rgb(114, 114, 155) 1px 1px 1px;
font-size: 1.2rem;
}
.active {
    display: block;
}

.ajustementright {
display: flex;
flex-direction: row;
align-items: flex-start;
align-content: flex-start;
justify-content: flex-start;
justify-items: center;

}

.menu {


    margin: 1%;
    font-size: 1.2rem;
}
.display {



left:20%;


}